<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vue.JS Simple Build</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  </head>
  <body>
    <h1>Elwell Consulting</h1>
    <ul>
      <li>Website Development</li>
      <li>UX Design</li>
      <li>Business Consulting</li>
    </ul>
    <div id="app" class="container">
      <!-- input first and last name then output fullname in realtime -->
      <div class="row">
        <div class="col-md-12 text-center">
          <h1>Hello {{fullname}}</h1>
          <ul class="text-left">
            <li>First Name: {{first}}</li>
            <li>Last Name: {{last}}</li>
          </ul>
            <hr />
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <lable>Full Name:</lable>
          <input type="text" class="form-control" v-model="fullname"/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <lable>First Name:</lable>
            <input type="text" class="form-control" v-model="first"/>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <lable>Last Name:</lable>
            <input type="text" class="form-control" v-model="last"/>
          </div>
        </div>
      </div>
      <br>
      <!-- input and then output text in realtime -->
      <div class="card w-100 input-group">
        <h1>{{message}}</h1>
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Enter words</span>
        </div>
        <input type="text" v-model="message" class="form-control">
      </div>
      <br>
      <!-- count up and down with buttons -->
      <div class="card w-100">
        <h2>Count: {{ count }}</h2>
        <button @click="countUp" class="btn btn-primary">UP</button>
        <button @click="countDown" class="btn btn-primary">DOWN</button>
      </div>
      <br>
      <!-- list of items -->
      <div class="card w-100" style="background-color: #eee">
        <ul class="list-group">
          <li class="list-group-item" style="list-style-type:none;" v-for="todo in todos">{{todo.id}}- {{todo.text}}</li>
        </ul>
      </div>
      <br>
      <!-- input then clean up a url -->
      <div class="card w-100">
        <p>
          Visit: <a :href="url">{{ cleanUrl }}</a>
        </p>
        <input type="text" class="form-control" v-model="url" />
        <button @click="humanizeUrl" class="btn btn-primary">Humanize Me!</button>
      </div>
    </div>
  </body>

  <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/lodash@4.17.5/lodash.min.js"></script>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        first: "",
        last: "",
        message: 'hello world',
        url: "",
        cleanUrl: "",
        count: 0,
        todos: [
          { text: 'Learn Vue', id: 1 },
          { text: 'Live life', id: 2 },
          { text: 'Learn school', id: 3 }
        ]
      },
      methods: {
        countUp: function() {
          this.count += 1
        },
        countDown: function() {
          this.count -= 1
        },
        humanizeUrl: function() {
          this.cleanUrl = this.url.replace(/^https?:\/\//, '').replace(/\/$/, '')
        }
      },
      computed: {
        fullname: {
          // getter function
          get: function() {
          return this.first + " " + this.last
          },
          // setter function
          set: function(value) {
            var name = value.split(' ')
            // a space character defines the split
            this.first = name[0]
            this.last = name[name.length - 1]
          }
        }
      }
    })
  </script>
</html>
